streamlit
pandas
openpyxl
word2number
xlsxwriter
pyperclip
spacy
pt-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_lg-3.7.0/pt_core_news_lg-3.7.0-py3-none-any.whl
